body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 0px 10px;
}
h1 { 
    margin-top:90px;
    font-size: 2.5em; 
    color: #dc3545; 
}
p { 
    font-size: 1.5em; 
    margin: 20px 0; 
}
.button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3; 
}
.image-container {
    margin: 20px 0;
}
.image-container img {
    max-width: 300px; 
    height: auto; 
}

@media (max-width:600px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.1em;
    }
    .image-container img{
        max-width: 250px;
    }
}

@media (max-width:450px){
    h1{
        font-size: 1.5em;
    }
    p{
        font-size: 15px;
    }
    .button{
        padding: 7px 15px;
        font-size: 15px;
    }
    .image-container img{
        max-width: 200px;
    }
}