html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    background-color: #ff8500;
}

#container img {
    height: 270px;
    border-radius: 10px;
}

#container img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#content{
    width: 50vw;
    margin: 20px;
    text-align: justify;
    text-indent: 50px;
    color: #fff;
}

#container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2d9ce8;
    padding: 30px 0px;
}

#container2 h2 {
    color: #fff;
    text-align: center;
}

#Box{
    width: 542px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.box2 img {
    height: 150px;
}

.box2 .name {
    margin: 5px auto;
}

.box2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer {
    background-color: #303030;
    color: #ffffff;
    padding: 20px 0px;
}

#Boxxx {
    display: flex;
    justify-content: center;
}

.box4 {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#box6 {
    width: 240px;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style: none;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

#menu li a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover {
    cursor: pointer;
}

#social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#social-media li {
    margin: 5px 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

#social-media li img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

#social-media li a {
    text-decoration: none;
    padding: 0px 2px;
    color: #ffffff;
}

#social-media li a:hover{
    cursor: pointer;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact label {
    margin-bottom: 2px;
}

#contact #div {
    margin-bottom: 5px;
}

footer p {
    text-align: center;
    background: #474747;
    color: #00ffea;
    padding: 5px 0px;
}

/* responsive for container1 */
@media (max-width:750px){
    #container{
        flex-direction: column;
    }

    #container img{
        height: 250px;
    }

    #content{
        width: 90vw;
    }
}

@media (max-width:400px){
    #container img{
        height: 200px;
    }
    #content{
        font-size: 15px;
    }
}

/* responsive for container2 */
@media (max-width:600px){
    #Box{
        width: 420px;
    }
    .box2 img{
        height: 110px;
    }
}

@media (max-width:500px){
    #container2 h2{
        font-size: 20px;
    }
    #Box{
        width: 280px;
    }
    .box2{
        margin: 10px;
    }
    .box2 img{
        height: 120px;
    }
    .box2 .name{
        font-size: 15px;
    }
}

/* responsive footer */
@media (max-width:600px){
    .box4{
        margin: 0px 15px;
    }
}

@media (max-width:500px){
    .box4 h2{
        font-size: 20px;
    }
    #contact #div{
        font-size: 15px;
    }
    #social-media li a{
        font-size: 15px;
    }
    #menu li a{
        font-size: 15px;
    }
    footer p{
        font-size: 15px;
    }
}

@media (max-width:460px){
    #Boxxx{
        flex-wrap: wrap;
    }
    .box4{
        margin: 0px 30px;
    }
    #box6{
        width: 208px;
    }
    footer p{
        font-size: 14px;
    }
}