#Box{
    grid-template-columns: repeat(3,auto);
}

@media screen and (max-width:800px) {
    #container2{
        height: 94vh;
    }

    #Box{
        grid-template-columns: repeat(2,auto);
    }
}

@media screen and (max-width:750px) {
    #box img{
        height: 35vh;
    }
}

@media screen and (max-width:675px) {
    #container{
        height: 75vh;
    }

    #box{
        flex-direction: column;
    }

    #box img{
        height: 35vh;
    }

    #content{
        width: 92vw;
    }
}

@media screen and (max-width:550px) {
    .box4{
        margin: 0px 2px;
    }
}

@media screen and (max-width:450px) {
    #container2{
        height: 77vh;
    }

    #Box{
        grid-template-columns: repeat(2,auto);
    }

    #box2{
        height: 152px;
        width: 130px;
    }

    #box2 img{
        height: 120px;
        width: 120px;
    }

    #content{
        width: 90vw;
    }

    footer{
        height: 109vh ;
    }

    #Boxxx{
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .box4{
        text-align: center;
    }

    #box4{
        margin-bottom: 30px;
    }

    #box5{
        margin-bottom: 30px;
    }

    #box6{
        width: 230px;
        margin-bottom: 30px;
    }
    
    #menu li a{
        width: 100%;
        text-align: center;
    }

    #social-media li img{
        margin-left: 41px;
    }
}

@media screen and (max-width:400px) {
    #content{
        width: 88vw;
    }

    #container{
        height: 80vh;
    }

    #box img{
        height: 33vh;
    }
}