form{
    width: 35vw;
}

@media screen and (max-width:900px){
    form{
        width: 45vw ;
    }
}

@media screen and (max-width:750px){
    form{
        width: 55vw ;
    }
}

@media screen and (max-width:625px){
    #container{
        height: 595px;
    }
}



@media screen and (max-width:600px){
    form{
        width: 60vw;
    }

    #navbar{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }

    #container::before{
        height: 143%;
    }
}

@media screen and (max-width:500px){
    form{
        width: 70vw ;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80vw;
    }
}

@media screen and (max-width:390px){
    form{
        width: 85vw;
        padding: 20px 7px;
    }

}