*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    outline: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    font-size: 20px;
    color: #812a00;
}

.count{
    font-size: 20px;
    font-weight: bold;
    color: #0004ff;
}

/* responsive dashboard */
@media (max-width:800px){
    .box{
        flex-direction: column;
    }
}