#container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 10px;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#details img {
    width: 250px;
    height: 250px;
    object-fit: fill;
}

#details p {
    margin-block: 5px;
}

#details:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content p{
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    margin-block: 3px;
    background-color: #8c0b91;
}

#content button{
    border: none;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #148000;
}

#content button a{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

@media (max-width:1180px){
    #box{
        width: 860px;
    }
}

@media (max-width:880px){
    #box{
        width: 710px;
    }
    #details img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:730px){
    #box{
        width: 560px;
    }
    #details img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width:580px){
    #box{
        width: 380px;
    }
}

@media (max-width:400px){
    #box{
        width: 300px;
    }
    #details{
        margin: 10px;
    }
    #details img{
        width: 120px;
        height: 120px;
    }
}