#container {
    margin-top: 90px;
    padding: 10px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,225px);
    grid-gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 225px;
    height: 335px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.box img {
    height: 210px;
    width: 210px;
}

.box .name {
    color: #1900ff;
    padding: 2px 0px;
}

@media screen and (max-width:950px) {
    #container{
        grid-template-columns: repeat(3,225px);
        grid-template-rows: repeat(3,335px);
    }
}

@media screen and (max-width:720px) {
    #container{
        grid-template-columns: repeat(2,225px);
        grid-template-rows: repeat(4,335px);
    }
}

@media screen and (max-width:490px) {
    #container{
        grid-template-columns: repeat(2,140px);
        grid-template-rows: repeat(4,265px);
    }

    .box{
        height: 250px;
        width: 140px;
    }

    .box img{
        height: 130px;
        width: 130px;
    }
}