*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form h2{
    margin-bottom: 15px;
    text-align: center;
}

form{
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.input{
    position: relative;
    margin-bottom: 7px;
}

.input i{
    position: absolute;
    right:7px;
    top: 31px;
}

.input p{
    color: #ff0000;
    margin-top: 3px;
}

div label{
    display: block;
    margin-bottom: 2px;
    font-size:1.1rem;
}

input,select{
    width: 100%;
    padding: 5px;
    font-size:1rem;
    border: 1px solid #a1a1a1;
    outline: none;
}

input[type="password"]{
    padding: 5px 40px 5px 5px;
}

textarea{
    font-size: 1rem;
    height: 50px;
    padding: 5px;
    width: 100%;
    resize: none;
}

img{
    margin-top: 3px;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}

#btn{
    width: 100%;
    background-color: #007d00;
    color: white;
    padding: 7px 0px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    
}

#btn:hover{
    cursor: pointer;
}

#btn1{
    outline: none;
    font-size:1rem;
    margin-top: 5px;
    padding: 2px 0px;
    border: 0.5px solid #7b7b7b;
    font-weight: bold;
    border-radius: 3px;
}

#btn1 a{
    padding: 2px 7px;
    text-decoration: none;
}

#btn1:hover{
    cursor: pointer;
}

#field-submit{
    margin-top: 15px;
}