#container{
    margin-top: 41px;
    background: url('images/pink1.avif') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    height: 87.7vh;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(13,100px);
    grid-template-rows: repeat(5,100px);
    grid-gap: 10px;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box p a {
    display: inline-block;
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    text-align: center;
    border: 2px solid navy;
    color: #800080;
    margin-bottom: 3px;
    transition: all 0.2s ease-in-out;
}

#box p a:hover{
    cursor: pointer;
    color: #000080;
    border: 2px solid #1aff00;
    border-radius: 3px;
}

@media screen and (max-width:1300px) {
    #container{
        grid-template-columns: repeat(11,100px);
    }
}

@media screen and (max-width:1225px) {
    #container{
        grid-template-columns: repeat(10,100px);
    }
}

@media screen and (max-width:1100px) {
    #container{
        grid-template-columns: repeat(9,100px);
    }
}

@media screen and (max-width:1225px) {
    #container{
        grid-template-columns: repeat(10,100px);
    }
}

@media screen and (max-width:1100px) {
    #container{
        grid-template-columns: repeat(9,100px);
    }
}

@media screen and (max-width:1000px) {
    #container{
        grid-template-columns: repeat(8,100px);
    }
}

@media screen and (max-width:900px) {
    #container{
        grid-template-columns: repeat(7,100px);
    }
}

@media screen and (max-width:800px) {
    #container{
        grid-template-columns: repeat(6,100px);
    }
}

@media screen and (max-width:700px) {
    #container{
        grid-template-columns: repeat(5,100px);
    }
}

@media screen and (max-width:600px) {
    #container{
        grid-template-columns: repeat(4,100px);
    }
}

@media screen and (max-width:500px) {
    #container{
        grid-template-columns: repeat(3,100px);
    }
}

@media screen and (max-width:400px) {
    #container{
        grid-template-columns: repeat(2,100px);
    }
}