*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#header a{
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: white;
}

.navbar-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    column-gap: 15px;
}

.navbar-left a{
    margin-top: 4px;
}

#hamburger{
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.navbar-left a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.wishlist{
    margin-bottom: 5px;
}

.navbar-center{
    display: flex;
    align-items: center;
}

.navbar-center li{
    list-style: none;
    margin: 0px 20px;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right li{
    list-style: none;
    margin: 0px 20px;
}

.modal{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#sidebarMenu{
    height: 100%;
    width: 200px;
    background-color: #4a4a4a;
    position: fixed;
    top: 0;
    left:-100%;
    transition: left 0.5s ease;
}

.cancel{
    position: absolute;
    top: -5px;
    right: -25px;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
}

.menu{
    width: 150px;
    margin: 10px auto;
    padding: 10px;
}

.menu li{
    list-style: none;
    margin: 15px 15px;
}

.menu li a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

/* responsive navbar */
@media (max-width:800px){
    .navbar-links{
        display: none;
    }
    #hamburger{
        display: block;
    }
}

@media (max-width:450px){
    #header a{
        font-size: 15px;
    }
    .sign_up{
        display: none;
    }
    .navbar-left{
        margin: 0px 10px;
        column-gap: 10px;
    }
    .navbar-center li{
        margin: 0px 10px;
    }
    .navbar-right li{
        margin: 0px 10px;
    }
}

/* responsive sidebar */
@media (max-width:450px){
    #sidebarMenu{
        width: 160px;
    }
}