*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#container{
    height: 97.5vh;
    background: url('images/blue4.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    padding: 20px 10px;
    width: 400px;
    background: url('images/white9.avif') no-repeat center center/cover;
}

#box h2{
    text-align: center;
    margin-bottom: 20px;
}

.div{
    margin: 5px;
    padding: 3px;
}

.div a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: rgb(0, 89, 255)
}

@media screen and (max-width:420px) {
    #box{
        width: 314px;
    }
}