*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    height: 97.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('images/blue7.avif') no-repeat center center/cover;
}

.alert{
    position: absolute;
    top: -40px;
    width: 420px;
    margin-inline: auto;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    position: relative;
}

b{
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 1.7rem;
    color: #00ffdd;
    cursor: pointer;
}

#success{
    background: #006600;
}

#error{
    background: #ff0000;
}


form {
    width: 300px;
    padding: 10px 20px;
    background: url('images/white10.avif') no-repeat center center/cover;
    border-radius: 5px;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #7b7b7b;
    border-radius: 3px;
    box-sizing: border-box;
}

p {
    color: #f00;
}

#btn {
    width: 100%;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;
}

span{
    font-size: 0.9rem;
}

#btn:hover {
    background: #0056b3;
}

#btn1{
    outline: none;
    font-size:1rem;
    margin-top: 10px;
    padding: 2px 0px;
    border: 0.5px solid #7b7b7b;
    background: url('images/white10.avif') no-repeat center center/cover;
    font-weight: bold;
    border-radius: 3px;
}

#btn1 a{
    padding: 2px 7px;
    text-decoration: none;
}

#btn1:hover{
    cursor: pointer;
}