*#container{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border:  none;
    outline: none;
    width: 260px;
}

#box h3{
    display: inline-block;
    margin: 8px;
    border-bottom: 1px solid #000;
}

.div{
    margin: 5px;
    padding: 3px;
}

.div a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #007bff;
}