#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#error,#success{
    width: 280px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    position: relative;
}

b{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.7rem;
    color: #00ffdd;
    cursor: pointer;
}

#success{
    background: #006600;
}

#error{
    background: #ff0000;
}

form{
    width: 280px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}

form h2{
    margin-bottom: 10px;
    text-align: center;
}

div label{
    display: block;
    margin-bottom: 2px;
}

.input{
    margin-bottom: 5px ;
    position: relative;
}

.input .fa-solid{
    position: absolute;
    right:7px;
    top: 27px;
    cursor: pointer;
}

.input p{
    color: #ff0000;
    margin-top: 2px;
}

input{
    width: 100%;
    padding: 5px;
    outline: none;
}

input[type="password"]{
    padding: 5px 40px 5px 5px;
}

.forget{
    width: 100%;
    margin-bottom: 7px;
}

.forget a{
    text-decoration: none;
}

textarea{
    font-size: 1rem;
    height: 50px;
    padding: 5px 30px 5px 5px;
    width: 100%;
    resize: none;
    outline: none;
}

#para{
    margin-top: 7px;
}

#para a{
    padding: 0px 5px;
    text-decoration: none;
}

#para a:hover{
    cursor: pointer;
}

#btn{
    width: 100%;
    background-color: #216921;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

#btn:hover{
    cursor: pointer;
}

#field6{
    margin-top: 10px;
}
