table{
    width: 100%;
    margin-top: 90px;
    border-collapse: collapse;
}

th,td{
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

th{
    background-color: #06a306;
    color: #fff;
}
