#Box{
    grid-template-columns: repeat(3,auto);
}

@media screen and (max-width:800px) {
    #Box{
        grid-template-columns: repeat(2,auto);
    }
}

@media screen and (max-width:550px) {
    #Box{
        grid-template-columns: repeat(2,auto);
    }

    #box{
        height: 314px;
        width: 195px;
    }

    #box img{
        height: 180px;
        width: 180px;
    }

    span{
        width: 350px;
        font-size: 1rem;
    }

    b{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:450px) {
    #Box{
        grid-template-columns: repeat(2,auto);
    }

    #box{
        margin: 4px;
        height: 255px;
        width: 145px;
    }

    #box img{
        height: 135px;
        width: 135px;
    }

    #box .name{
        font-size: 0.831rem;
    }

    span{
        width: 300px;
        font-size: 0.8rem;
    }

    b{
        top: 0.5px;
        font-size: 1.3rem;
    }
}
