*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('images/blue9.webp') no-repeat center center/cover;
}

span{
    width: 450px;
    margin-top: 50px;
    margin-inline: auto;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
}

b{
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 1.7rem;
    color: #00ffdd;
    cursor: pointer;
}

#success{
    background: #006600;
}

#error{
    background: #ff0000;
}

#Box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 340px;
    margin: 7px;
    background: url('images/white9.avif') no-repeat center center/cover;
}

#box{
    position: relative;
}

#Box img {
    height: 200px;
    width: 200px;
}

#Box i{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 19px;
    height: 19px;
    color: #ff0000;
}

#Box i:hover{
    cursor: pointer;
}

#box .name {
    padding: 2px 3px;
}

#box #detail a{
    display: inline-block;
    padding: 2px 10px;
    background: url('images/orange2.avif') no-repeat center center/cover;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

#book{
    background: #0d550d;
    padding: 3px 10px;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-inline: auto;
    cursor: pointer;
}

#location{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 2px 10px;
    background: url('images/blue2.webp') no-repeat center center/cover;
    color: #fff;
}